<template>
    <div class="account-box">
        <div class="account-wrapper">
            <h3 class="account-title">Login</h3>
            <p class="account-subtitle">Access to system</p>
            <!-- Account Form -->
            <form method="POST">
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" type="text" name="email">
                    <small class="text-danger"></small>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Password</label>
                        </div>
                    </div>
                    <input class="form-control" type="password" name="password">
                    <small  class="text-danger"></small>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary account-btn" type="submit" style="background:red">Login</button>
                </div>
            </form>
            <!-- /Account Form -->
            
        </div>
    </div>
</template>
